<!DOCTYPE html>
<html>
<head>
  <title>Helpful Links | Code Fellows App-A-Day by Steph Datu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">RoR Helpful Resources Microapp</a>
      <ul class="nav">
        <li class="active"><a href="/links">Links</a></li>
        <li><%= link_to 'Submit a Link', new_link_path %></li>
        <li><% if current_user %>
          <li>Signed in as <%= current_user.name %></li>
          <li><%= link_to "Sign out", signout_path %></li>
        <% else %>
          <li><%= link_to 'Sign in with Twitter', "/auth/twitter" %></li>
        <% end %></li>
      </ul>
    </div>
  </div>
</div>

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    Stephanie Datu | 2013
  </div>
</footer>

</body>
</html>
